@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

span:hover {
  cursor: default;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=submit] {
  background: none;
  font-size: 0;
  border: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

select {
  border: 1px solid #fff;
  background: none;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*--------------------*/
header {
  padding: 30px 0 0;
  margin: 0 0 90px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1.7%;
  position: relative;
}

.header__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__row .header__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__menu > ul {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu > ul li {
  margin: 0 22px 0 0;
}
.header__menu > ul li a {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__menu > ul li a:hover {
  color: #e54a35;
}
.header__menu > ul li form {
  padding-left: 22px;
  border-left: 1px solid #bbbbbb;
}
.header__menu > ul li form input[type=submit] {
  line-height: 20px;
}
.header__menu > ul li form input:first-child {
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
  background: url("../img/search.svg") 0 0/contain no-repeat;
}
.header__menu > ul li form input:last-child {
  border: none;
  width: 50px;
}

.header__button {
  width: 180px;
  height: 45px;
  padding: 13px 35px;
  border-radius: 22.5px;
  border: 1px solid #000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__button:hover {
  border-radius: 22px;
  border: 1px solid #e54a35;
  background: #e54a35;
  color: #fff;
}

footer {
  padding: 35px 0 15px;
  background: #121c31;
  color: #fff;
}
footer h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
footer a {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
footer p {
  text-align: right;
  font-size: 12px;
  line-height: 15px;
  color: #bbb;
}
footer p:last-child {
  font-size: 8px;
  line-height: 10px;
  color: #fff;
}
footer form {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer form input[type=text] {
  max-width: 230px;
  height: 35px;
  padding: 12px 0 12px 15px;
  border-radius: 0;
  border: 2px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
footer form input[type=submit] {
  width: 80px;
  height: 35px;
  background: #0f254c;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
footer form input[type=submit]:hover {
  background: #e54a35;
}

.footer__row {
  padding: 0 0 30px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #1c2b4a;
}

.footer__navigation > ul {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__navigation > ul li {
  margin: 0 15px 0 0;
}
.footer__navigation > ul li a {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer__navigation > ul li a:hover {
  color: #e54a35;
}

.footer__social_row > ul {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__social_row > ul li {
  margin: 0 10px 0 0;
}
.footer__social_row > ul li a svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer__social_row > ul li a:hover svg path {
  fill: #e54a35;
}

body {
  margin: 0;
  font-family: Montserrat;
}

.first_post {
  margin: 0 0 100px;
  color: #121c31;
}
.first_post h1 {
  margin: 0 0 12px;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
}
.first_post h2 {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.first_post p {
  margin: 0 0 30px;
  font-size: 16px;
  line-height: 20px;
}

.first_post__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first_post__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
}

.first_post__button {
  display: inline-block;
  padding: 12.5px 0;
  width: 180px;
  height: 45px;
  background: #e54a35;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.first_post__button:hover {
  background: #fff;
  border: 1px solid #e54a35;
  color: #e54a35;
}

.first_post__image img {
  width: 100%;
}

.options {
  margin: 0 0 50px;
}

.options__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.options__item {
  margin: 0 0 2%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  padding: 2.23%;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.options__item > svg {
  display: block;
  margin: 0 auto 14px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.options__item > svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.options__item > span {
  margin: 0 0 12px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #121c31;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.options__item > h4 {
  width: 90%;
  margin: 0 auto 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.options__item > p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #696969;
  margin: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.options__item:hover {
  background: #2592e6;
}
.options__item:hover > svg {
  display: block;
  margin: 0 auto 14px;
}
.options__item:hover > svg path:first-child {
  fill: #fff;
}
.options__item:hover > span {
  color: #fff;
}
.options__item:hover > h4 {
  color: #fff;
}
.options__item:hover > p {
  color: #f7f7f7;
}

.about {
  margin: 0 0 85px;
  padding: 70px 0 100px;
  background: #f7f7f7;
}

.about__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 75px;
}
.about__block:last-child {
  margin: 0;
}

.about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}
.about__item h2 {
  margin: 0 0 27px;
  padding: 0 0 20px;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  color: #0a152b;
  position: relative;
}
.about__item h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 2px;
  background: #3dafe1;
}
.about__item p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.about__item img {
  width: 100%;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
}

.block_2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.benefits {
  padding: 0 0 80px;
}

.benefits__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__item {
  max-width: 210px;
  margin: 0 50px 20px 0;
  text-align: center;
}
.benefits__item:last-child {
  margin: 0 0 20px 0;
}
.benefits__item > svg {
  display: block;
  margin: 0 auto 14px;
}
.benefits__item > h3 {
  margin: 0 0 14px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0a152b;
}
.benefits__item > p {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.grow {
  padding: 0 0 200px;
}
.grow img {
  width: 100%;
}
.grow .container {
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grow__form {
  padding: 3.5%;
  position: absolute;
  left: 20px;
  bottom: -100px;
  width: 60%;
  background: #dfedf3;
  border: 20px solid #ffffff;
}
.grow__form > h3 {
  margin: 0 0 15px;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #0a152b;
}
.grow__form > p {
  margin: 0 0 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0a152b;
}
.grow__form form {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}
.grow__form input[type=text] {
  border: 2px solid #eeeeee;
  border-radius: 0;
  padding: 16px 20px;
  width: 60%;
}
.grow__form input[type=submit] {
  width: 40%;
  height: 100%;
  background: #0f254c;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.grow__form input[type=submit]:hover {
  background: #e54a35;
}